<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>roboto_medium.ttf</string>
		<string>roboto_semicondensed_extralightitalic.ttf</string>
		<string>roboto_condensed_extralightitalic.ttf</string>
		<string>roboto_semicondensed_bolditalic.ttf</string>
		<string>roboto_condensed_extrabolditalic.ttf</string>
		<string>roboto_light.ttf</string>
		<string>roboto_semicondensed_thinitalic.ttf</string>
		<string>roboto_semicondensed_extralight.ttf</string>
		<string>testfontfile.otf</string>
		<string>roboto_condensed_black.ttf</string>
		<string>roboto_semicondensed_semibolditalic.ttf</string>
		<string>roboto_semicondensed_semibold.ttf</string>
		<string>roboto_semicondensed_extrabold.ttf</string>
		<string>roboto_semicondensed_blackitalic.ttf</string>
		<string>roboto_regular.ttf</string>
		<string>roboto_condensed_italic.ttf</string>
		<string>roboto_condensed_semibold.ttf</string>
		<string>roboto_mediumitalic.ttf</string>
		<string>roboto_semicondensed_medium.ttf</string>
		<string>roboto_semicondensed_bold.ttf</string>
		<string>roboto_semicondensed_lightitalic.ttf</string>
		<string>roboto_extrabolditalic.ttf</string>
		<string>roboto_semicondensed_thin.ttf</string>
		<string>roboto_semibolditalic.ttf</string>
		<string>roboto_semicondensed_black.ttf</string>
		<string>roboto_semicondensed_extrabolditalic.ttf</string>
		<string>roboto_semicondensed_light.ttf</string>
		<string>roboto_semicondensed_mediumitalic.ttf</string>
		<string>roboto_extralightitalic.ttf</string>
		<string>roboto_condensed_extrabold.ttf</string>
		<string>roboto_condensed_blackitalic.ttf</string>
		<string>roboto_condensed_regular.ttf</string>
		<string>roboto_condensed_bold.ttf</string>
		<string>roboto_condensed_medium.ttf</string>
		<string>roboto_semicondensed_italic.ttf</string>
		<string>roboto_condensed_bolditalic.ttf</string>
		<string>roboto_extralight.ttf</string>
		<string>roboto_thinitalic.ttf</string>
		<string>roboto_condensed_semibolditalic.ttf</string>
		<string>roboto_condensed_thin.ttf</string>
		<string>roboto_bolditalic.ttf</string>
		<string>roboto_condensed_extralight.ttf</string>
		<string>roboto_condensed_thinitalic.ttf</string>
		<string>roboto_condensed_mediumitalic.ttf</string>
		<string>roboto_extrabold.ttf</string>
		<string>roboto_lightitalic.ttf</string>
		<string>roboto_semicondensed_regular.ttf</string>
		<string>roboto_semibold.ttf</string>
		<string>roboto_italic.ttf</string>
		<string>roboto_blackitalic.ttf</string>
		<string>roboto_bold.ttf</string>
		<string>roboto_thin.ttf</string>
		<string>roboto_black.ttf</string>
		<string>roboto_condensed_lightitalic.ttf</string>
		<string>roboto_condensed_light.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
